In [2]:
import pandas as pd
import numpy as np

In [3]:
ice_cream_flavors = [
    "Chocolate", 
    "Vanilla", 
    "Strawberry", 
    "Rum Raisin",  
]

days_of_week = ("Monday", "Wednesday", "Friday", "Saturday")

pd.Series(data=ice_cream_flavors, index=days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [4]:
ice_cream_flavors = [
    "Chocolate", 
    "Vanilla", 
    "Strawberry", 
    "Rum Raisin",  
]

days_of_week = ("Monday", "Wednesday", "Friday", "Wednesday")

pd.Series(data=ice_cream_flavors, index=days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

In [5]:
lucky_numbers = [4,8,15,16,23,42]
pd.Series(lucky_numbers, dtype="float")

0     4.0
1     8.0
2    15.0
3    16.0
4    23.0
5    42.0
dtype: float64

In [6]:
temperatures = [94, 88, np.nan, 91]

pd.Series(data=temperatures)

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

So numpy is the son 

Realmente estoy trabajando con numpy

In [23]:
calorie_info = {
    "Cereal":125,
    "Chocolate Bar":406,
    "Ice Cream Sundae":342,
}

diet = pd.Series(calorie_info)
type(diet.values)
diet.index
diet.dtype
diet.size
diet.shape
diet.is_unique

pd.Series(data=[3,3]).is_unique

pd.Series(data=[1,3,6]).is_monotonic_increasing

pd.Series(data=[1,6,3]).is_monotonic_increasing

False

In [34]:
rgb = [(120,41,26),(196,165,45)]

type(pd.Series(rgb))

pandas.core.series.Series

In [38]:
random = np.random.randint(1,101,10)

pd.Series(random)

0    26
1    67
2    47
3    97
4    59
5    39
6    53
7    20
8    76
9    78
dtype: int32

In [32]:
values = range(0,500,5)
nums = pd.Series(data=values)
nums.head()
nums.tail(6)

94    470
95    475
96    480
97    485
98    490
99    495
dtype: int64

In [51]:
values = ["San Francisco", "Los Angeles", "Las Vegas", np.nan]
cities = pd.Series(data=values)
cities

0    San Francisco
1      Los Angeles
2        Las Vegas
3              NaN
dtype: object

In [57]:
dict(cities)

#2 in cities

100 not in cities

np.nan not in cities.values

True