In [2]:
import pandas as pd
import numpy as np

In [10]:
nfl = pd.read_csv("nfl.csv", parse_dates=["Birthday"])
nfl["Birthday"]



nfl = nfl.set_index(keys="Name")

count the number of players per team

In [12]:
nfl

                                    Team Position   Birthday   Salary
Name
Tremon Smith         Philadelphia Eagles       RB 1996-07-20   570000
Shawn Williams        Cincinnati Bengals       SS 1991-05-13  3500000
Adam Butler         New England Patriots       DT 1994-04-12   645000
Derek Wolfe               Denver Broncos       DE 1990-02-24  8000000
Jake Ryan           Jacksonville Jaguars      OLB 1992-02-27  1000000
...                                  ...      ...        ...      ...
Bashaud Breeland      Kansas City Chiefs       CB 1992-01-30   805000
Craig James          Philadelphia Eagles       CB 1996-04-29   570000
Jonotthan Harrison         New York Jets        C 1991-08-25  1500000
Chuma Edoga                New York Jets       OT 1997-05-25   495000
Tajae Sharpe            Tennessee Titans       WR 1994-12-23  2025000

[1655 rows x 4 columns]

In [14]:
nfl["Team"].value_counts()

Team
New York Jets           58
Kansas City Chiefs      56
Washington Redskins     56
New Orleans Saints      55
San Francisco 49Ers     55
Denver Broncos          54
Minnesota Vikings       54
Los Angeles Chargers    54
Seattle Seahawks        53
Dallas Cowboys          53
Buffalo Bills           53
Atlanta Falcons         53
Detroit Lions           53
Chicago Bears           53
Los Angeles Rams        52
New York Giants         52
Philadelphia Eagles     52
Houston Texans          52
Arizona Cardinals       51
Cincinnati Bengals      51
Green Bay Packers       51
Oakland Raiders         51
Jacksonville Jaguars    50
Cleveland Browns        49
Miami Dolphins          49
Indianapolis Colts      49
Carolina Panthers       49
New England Patriots    49
Baltimore Ravens        48
Pittsburgh Steelers     47
Tampa Bay Buccaneers    47
Tennessee Titans        46
Name: count, dtype: int64

who are the five highest paid players?

In [19]:
nfl["Salary"].sort_values(ascending=False).head()

Name
Kirk Cousins       27500000
Jameis Winston     20922000
Marcus Mariota     20922000
Derek Carr         19900000
Jimmy Garoppolo    17200000
Name: Salary, dtype: int64

sort the data set first by teams and then by salary in descending order

In [32]:
nfl.sort_values(by=["Team", "Salary"], ascending=[True, False]).loc[:,["Team", "Salary", "Position", "Birthday"]]

                                   Team    Salary Position   Birthday
Name
Chandler Jones        Arizona Cardinals  16500000      OLB 1990-02-27
Patrick Peterson      Arizona Cardinals  11000000       CB 1990-07-11
Larry Fitzgerald      Arizona Cardinals  11000000       WR 1983-08-31
David Johnson         Arizona Cardinals   5700000       RB 1991-12-16
Justin Pugh           Arizona Cardinals   5000000        G 1990-08-15
...                                 ...       ...      ...        ...
Ross Pierschbacher  Washington Redskins    495000        C 1995-05-05
Kelvin Harmon       Washington Redskins    495000       WR 1996-12-15
Wes Martin          Washington Redskins    495000        G 1996-05-09
Jimmy Moreland      Washington Redskins    495000       CB 1995-08-26
Jeremy Reaves       Washington Redskins    495000       SS 1996-08-29

[1655 rows x 4 columns]

who is the oldest player in the new york jets roster and what is his birthday?

In [42]:
nfl[nfl["Team"] == "New York Jets"].sort_values(by="Birthday")

                             Team Position   Birthday   Salary
Name
Ryan Kalil          New York Jets        C 1985-03-29  2400000
Steve McLendon      New York Jets       NT 1986-01-03  1500000
Albert McClellan    New York Jets      ILB 1986-06-04   805000
Demaryius Thomas    New York Jets       WR 1987-10-25  1200000
Bilal Powell        New York Jets       RB 1988-10-04   930000
Rontez Miles        New York Jets       SS 1988-11-25  1907000
Tom Compton         New York Jets        G 1989-05-10  1410000
Josh Bellamy        New York Jets       WR 1989-05-18   930000
Kelvin Beachum      New York Jets       OT 1989-06-08  8000000
Trumaine Johnson    New York Jets       CB 1990-01-01  8000000
Paul Worrilow       New York Jets      ILB 1990-05-01   805000
David Fales         New York Jets       QB 1990-10-04   805000
Darryl Roberts      New York Jets       CB 1990-11-26  1000000
Brent Qvale         New York Jets       OT 1991-03-11  1000000
Brandon Copeland    New York Jets      OLB 1991-07-02  1500000
Bronson Kaufusi     New York Jets       DE 1991-07-06   645000
Brian Winters       New York Jets        G 1991-07-10  6000000
Henry Anderson      New York Jets       DE 1991-08-03  2000000
Jonotthan Harrison  New York Jets        C 1991-08-25  1500000
Bennett Jackson     New York Jets       FS 1991-09-16   495000
Brandon Shell       New York Jets       OT 1992-02-06  2025000
Le'Veon Bell        New York Jets       RB 1992-02-18  2000000
Alex Lewis          New York Jets        G 1992-04-21  2025000
Daniel Brown        New York Jets       TE 1992-05-26   805000
Matthias Farley     New York Jets       FS 1992-07-15  3095000
Harvey Langi        New York Jets      OLB 1992-09-24   570000
Conor McDermott     New York Jets        G 1992-10-19   645000
Brian Poole         New York Jets       CB 1992-10-20  1000000
Sam Ficken          New York Jets        K 1992-12-14   495000
Ty Montgomery       New York Jets       RB 1993-01-22   805000
Neville Hewitt      New York Jets      ILB 1993-04-06  1000000
Robby Anderson      New York Jets       WR 1993-05-09  3095000
Jamison Crowder     New York Jets       WR 1993-06-17  1500000
Arthur Maulet       New York Jets       CB 1993-07-13   645000
Blake Countess      New York Jets       SS 1993-08-08  2025000
Nathan Shepherd     New York Jets       DE 1993-10-09   656000
Marcus Maye         New York Jets       FS 1994-03-08  1060822
James Burgess       New York Jets      ILB 1994-03-09   645000
Tarell Basham       New York Jets      OLB 1994-03-18   687500
Maurice Canady      New York Jets       CB 1994-05-26   720000
Thomas Hennessy     New York Jets       LS 1994-06-11   645000
Nate Hairston       New York Jets       CB 1994-06-30   645000
Jordan Jenkins      New York Jets      OLB 1994-07-01  2025000
Ryan Anderson       New York Jets        G 1994-12-30   949066
Folorunso Fatukasi  New York Jets       NT 1995-03-04   570000
Jordan Willis       New York Jets       DE 1995-05-02   754750
Trevon Wesco        New York Jets       TE 1995-09-12   495000
Brad Lundblade      New York Jets        C 1995-09-21   495000
Braxton Berrios     New York Jets       WR 1995-10-06   495000
Jamal Adams         New York Jets       SS 1995-10-17   645000
Vyncint Smith       New York Jets       WR 1996-06-09   570000
Blessuan Austin     New York Jets       CB 1996-07-19   495000
Frankie Luvu        New York Jets      OLB 1996-09-19   570000
Josh Adams          New York Jets       RB 1996-10-29   570000
Kyle Phillips       New York Jets       DE 1997-05-05   495000
Chuma Edoga         New York Jets       OT 1997-05-25   495000
Sam Darnold         New York Jets       QB 1997-06-05   570000
Quinnen Williams    New York Jets       DE 1997-12-21   495000